@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@100&display=swap');

.form-container{
    position: relative;
    margin: auto;
    background-color: rgb(255, 255, 255);
    height: 595px;
    width: 550px;
    font-weight: bold;
    margin-top: 120px;
    text-align: left;
    padding: 5px;
    padding-left: 50px;
}
h1{
    font-weight: bolder;
    color: rgb(40, 40, 112)
}
label{
    display: block;
    margin-bottom: 7px;
}
button{
    margin-top: 30px;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 5px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #1ED760;
    height: 48px;
    justify-content: center;
    width: 200px;
}
.vertical-center{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
button:hover{
    transform: scale(1.04);
    background-color: #21e065;
}
.input{
    margin-bottom: 15px;
    height: 30px;
    width: 90%;
}
