.form-container{
    position: relative;
    margin-left: 920px;
    position: absolute;
    top: 110px;
    background-color: rgb(255, 255, 255);
    height: 620px;
    width: 550px;
    font-weight: bold;
    padding: 5px;
    padding-left: 50px;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}
h1{
    font-weight: bolder;
    color: rgb(40, 40, 112);
    text-align: center;
}
label{
    display: block;
    margin-bottom: 7px;
}
button{
    margin-left: auto;
    margin-top: 10px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 5px;
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 17px 48px;
    color: #fff;
    background-color: #000000;
    height: 48px;
    justify-content: center;
    width: 150px;
}
button:hover{
    transform: scale(1.04);
    background-color: #1b1b1b;
}
.input{
    margin-top: 15px;
    height: 30px;
    width: 80%;
    background-color: rgb(243, 243, 243);
    border-color: white;
    font-family: 'Roboto', sans-serif;
    color: #333;
    font-size: 1.2rem;
    padding: 0.75rem 1rem;
    border-radius: 0.2rem;
    border: none;
    display: block;
    border-bottom: 0.3rem solid transparent;
    transition: all 0.3s;
    outline: none;
}   
.error{
    margin-top: 15px;
    color: red;
    transition: all 5s ease-out;
}
.radio{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 15px;
    background-color: rgb(243, 243, 243);
    margin-right: 11px;
    float: left;
    width: 150px;
}
label{
    color: rgb(122, 122, 122);
}
textarea{
    margin-top: 15px;
    width: 470px;
    height: 170px;
    font-size: 20px;
    resize: none;
    background-color: rgb(243, 243, 243);
    border: none;
}
textarea{
    border: none;
    outline: none;
}
.swal-title {
    color: rgb(0, 0, 0);
    font-size: 30px;
  }
.swal-button {
    background-color: rgb(0, 0, 0);
}
.swal-text {
    background-color: #FEFAE3;
    padding: 17px;
    border: 1px solid #F0E1A1;
    display: block;
    margin: 22px;
    text-align: center;
    color: #61534e;
  }